.header {
    text-align: center;
    outline: none;
}

.bold {
    font-weight: bold;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #212121;
}

main {
    flex: 1 0 auto;
}

#subreddit_header {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

#subreddits {
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}

.subreddit {
    display: inline;
    padding-right: 15px;
    line-height: 200%;
}

.callback_btn {
    cursor: pointer;
}

.progress {
    margin: 3em 0;
}

.up {
    display: block;
    color: #039be5;
}

.votes {
    display: block;
}

.down {
    display: block;
    color: orangered;
}

.upboat {
    text-align: center;
}

/*HEADER*/
a.nsfw {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: -0.02em;
    font-weight: bold !important;
}

.sfw_blue {
    color: #3D5AFE;
    letter-spacing: -0.05em;
    padding: 0;
    text-shadow: 4px 0 10px rgba(63, 81, 181, 0.4),
    0 4px 10px rgba(63, 81, 181, 0.4),
    -4px 0 10px rgba(63, 81, 181, 0.4),
    0 -4px 10px rgba(63, 81, 181, 0.4);
}

.nsfw_red {
    color: #b00;
    letter-spacing: -0.05em;
    padding: 0;
    text-shadow: 4px 0 10px rgba(200, 0, 0, 0.3),
    0 4px 10px rgba(200, 0, 0, 0.3),
    -4px 0 10px rgba(200, 0, 0, 0.3),
    0 -4px 10px rgba(200, 0, 0, 0.3);
}

a.nsfw:hover .nsfw_red {
    color: #f00;
    text-shadow: 4px 0 10px rgba(255, 0, 0, 0.3),
    0 4px 10px rgba(255, 0, 0, 0.3),
    -4px 0 10px rgba(255, 0, 0, 0.3),
    0 -4px 10px rgba(255, 0, 0, 0.3);
}

.nsfw_bracket {
    color: #b00;
    font-size: 1.2em;
    letter-spacing: -0.15em;
    position: relative;
    text-shadow: 4px 0 10px rgba(200, 0, 0, 0.3),
    0 4px 10px rgba(200, 0, 0, 0.3),
    -4px 0 10px rgba(200, 0, 0, 0.3),
    0 -4px 10px rgba(200, 0, 0, 0.3);
}

.sfw_bracket {
    color: #3D5AFE;
    font-size: 1.2em;
    letter-spacing: -0.15em;
    position: relative;
    text-shadow: 4px 0 10px rgba(63, 81, 181, 0.4),
    0 4px 10px rgba(63, 81, 181, 0.4),
    -4px 0 10px rgba(63, 81, 181, 0.4),
    0 -4px 10px rgba(63, 81, 181, 0.4);
}

a.nsfw:hover .sfw_bracket {
    color: #2979FF;
    letter-spacing: -0.15em;
    text-shadow: 4px 0 10px rgba(68, 138, 255, 0.3),
    0 4px 10px rgba(68, 138, 255, 0.3),
    -4px 0 10px rgba(68, 138, 255, 0.3),
    0 -4px 10px rgba(68, 138, 255, 0.3);
}

a.nsfw:hover .sfw_blue {
    color: #2979FF;
    text-shadow: 4px 0 10px rgba(68, 138, 255, 0.3),
    0 4px 10px rgba(68, 138, 255, 0.3),
    -4px 0 10px rgba(68, 138, 255, 0.3),
    0 -4px 10px rgba(68, 138, 255, 0.3);
}

a.nsfw:hover .nsfw_bracket {
    color: #f00;
    letter-spacing: -0.15em;
    text-shadow: 4px 0 10px rgba(255, 0, 0, 0.3),
    0 4px 10px rgba(255, 0, 0, 0.3),
    -4px 0 10px rgba(255, 0, 0, 0.3),
    0 -4px 10px rgba(255, 0, 0, 0.3);
}

#nsfw_bracket_left {
    left: 5px;
}

#nsfw_bracket_right {
    left: -7px;
}

.nsfw_white {
    color: #ddd;
    position: relative;
    top: -2px;
    padding: 0;
    letter-spacing: -0.05em;
}

a.nsfw:hover .nsfw_white {
    color: #fff;
}

.card-panel .input-field {
    margin-bottom: 0;
}

footer a {
    color: #CFD8DC;
}


@media (min-width: 700px) and (max-width: 1500px) {
    .card.horizontal .card-action {
        display: none;
    }
    .card.horizontal .reverse_links {
        display: inherit;
    }
}

@media (max-width: 700px) {
    .card.horizontal {
        display: block;
    }
    .card.horizontal .card-image {
        max-width: inherit;
        width: 100%;
    }
    .card.horizontal .card-image img {
        width: inherit;
    }
    .reverse_links {
        display: none;
    }
}

@media (min-width: 1501px) {
    .reverse_links {
        display: none;
    }
    .card.horizontal .card-action {
        display: block;
    }
}

.reverse_links .btn {
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.col img {
    width: 100%;
}

.page-footer.sfw_footer {
    background-color: #1E88E5;
}

.sfw_tabs.tabs .tab a {
    color: rgba(30, 136, 229, 0.7);
}

.sfw_tabs.tabs .tab a:focus, .sfw_tabs.tabs  .tab a:focus:active {
    background-color: rgba(30, 136, 229, 0.2);
}

.sfw_tabs.tabs .indicator {
    background-color: #1E88E5;
}

/* img slideshow */
.slideshow {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.gallery-item {
    position: absolute;
    width: 100%;
    display: none !important;
}

.gallery-item.showcase-img {
    display: inherit !important;
}

.sha1 {
    position: absolute;
    bottom: 1em;
}
code {
    color: #607D8B;
}

.push {
    margin-bottom: auto;
}

.help {
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .btn-col {
        display: none;
    }
    .col {
        width: 100%;
    }
}

code {
    color: deeppink;
}

.help-link {
    margin-left: 1rem;
}

.card code {
    white-space: pre-wrap;
}
