{% extends "layout.html" %}

{% set title = "{SFW} Reddit reverse image search" %}
{% set description = "Search SFW subreddits by image. Easily find the source for some photos (and more) by finding the relevant posts on reddit." %}

{% set tabs_style = "sfw_tabs" %}
{% set footer_style = "sfw_footer" %}
{% set help_style = "pink" %}

{% block header %}
    <a class="header nsfw" href="/">
        <h2>
        <span style="white-space: nowrap;">
            <span class="sfw_bracket" id="nsfw_bracket_left">{</span>
            <span class="sfw_red">SFW</span>
            <span class="sfw_bracket" id="nsfw_bracket_right">}</span>
        </span>
            <span class="sfw_white">reddit&nbsp;reverse image&nbsp;search</span>
        </h2>
    </a>
{% endblock %}
