{% extends "layout.html" %}

{% set title = "{NSFW} Reddit reverse image search" %}
{% set description = "Search NSFW subreddits by image. Easily find the source for some photos (and more) by finding the relevant posts on reddit." %}

{% set tabs_style = "" %}
{% set footer_style = "" %}
{% set help_style = "deep-orange lighten-1" %}

{% block header %}
    <a class="header nsfw" href="/">
        <h2>
        <span style="white-space: nowrap;">
            <span class="nsfw_bracket" id="nsfw_bracket_left">{</span>
            <span class="nsfw_red">NSFW</span>
            <span class="nsfw_bracket" id="nsfw_bracket_right">}</span>
        </span>
            <span class="nsfw_white">reddit&nbsp;reverse image&nbsp;search</span>
        </h2>
    </a>
{% endblock %}
