<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name=referrer content=no-referrer>

    <link rel="stylesheet" href="../static/materialize.css">
    <link rel="stylesheet" type="text/css" href="../static/main.css?v=13"/>
</head>
<body>

{#Header#}
{% block header %}{% endblock %}

<main class="container">

    {# Search bar #}
    <div class="card-panel">
        <div class="card-content">
            <form onsubmit="return query()">
                <div class="input-field col l8">
                    <input id="search" type="search" required>
                    <label for="search">Query</label>
                </div>
            </form>
        </div>
    </div>

    {# Search results #}
    <div id="output"></div>

    {# Search results #}
    <div id="output"></div>

    {# menu #}
    <div class="card">
        <div class="card-content">

            <ul id="rri_menu" class="tabs {{ tabs_style }}">
                <li class="tab col s3"><a href="#rri_menu_stats">Statistics</a></li>
                <li class="tab col s3"><a href="#rri_menu_subs">Subreddits</a></li>
                <li class="tab col s3"><a href="#rri_menu_about">About</a></li>
            </ul>

            {# Database stats #}
            <div id="rri_menu_stats" style="padding-top: 2em">
                <table>
                    <tbody>
                    <tr>
                        <th>images</th>
                        <td id="db_images">...</td>
                    </tr>
                    <tr>
                        <th>video frames</th>
                        <td id="db_videos">...</td>
                    </tr>
                    <tr>
                        <th>comments</th>
                        <td id="db_comments">...</td>
                    </tr>
                    <tr>
                        <th>albums</th>
                        <td id="db_albums">...</td>
                    </tr>
                    <tr>
                        <th>posts</th>
                        <td id="db_posts">...</td>
                    </tr>
                    <tr>
                        <th>subreddits</th>
                        <td id="db_subreddits">...</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            {# Subreddits #}
            <div id="rri_menu_subs">
                <div id="subreddit_err"></div>
                <div id="subreddits"></div>
            </div>

            {# About #}
            <div id="rri_menu_about" style="padding-top: 2em">
                <div class="row">
                    <div class="col s3"><span class="right bold">Who?</span></div>
                    <div class="col s9">Originally created by 4_pr0n, resurrected by simon987</div>
                </div>
                <div class="row">
                    <div class="col s3"><span class="right bold">What?</span></div>
                    <div class="col s9">Reverse image & video reverse search</div>
                </div>
                <div class="row">
                    <div class="col s3"><span class="right bold">Why?</span></div>
                    <div class="col s9">The greater good</div>
                </div>
                <div class="row">
                    <div class="col s3"><span class="right bold">How?</span></div>
                    <div class="col s9">Image comparison, python and C. see the source code on
                        <a href="https://github.com/simon987/irarchives">Github</a></div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page-footer {{ footer_style }}">
    <div class="container">
        <div class="row">
            Suggestions or comments? Contact me by email <a href="mailto:me@simon987.net">here</a>
            <a href="https://simon987.net/gpg/">[pubkey]</a>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">This site is not affiliated with reddit.com</div>
    </div>
</footer>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light modal-trigger help {{ help_style }}" href="#help">
        <span class="help">?</span>
    </a>
</div>

<!-- Help -->
<div id="help" class="modal">
    <div class="modal-content">
        <h4>Help</h4>
        <h5>How to use</h5>
        <p><b>Search by url</b></p>
        <p>To search by url, can query <code>image:http://example.com/image.jpg</code> or
            <code>video:http://example.com/video.mp4</code>.
        </p>
        <p>If you specify an url without the <i>image:</i> or <i>video:</i> prefix, it will be
            considered as an image url.</p>
        <p><i>(Optional)</i> You can specify the maximum <b>distance</b> with <code>d:D</code> where <b>D</b>
        is a number between 0 and 30. A distance of 0 is a near-perfect match, and higher values
        allow more fuzzy matches.</p>
        <p><i>(Optional)</i> You can specify the minimum <b>frame matches</b> with <code>frames:F</code> where <b>F</b>
            is a number between 1 and 30. Only videos that have <i>at least</i> <b>F</b> frames within the specified
            distance are returned. The default value is 10.

        <p><i>Alternatively,</i> you can paste an image into the search bar.</p>

        <p>Examples:</p>
        <p><code>video:http://example.com/video.mp4 d:15 frames:20</code> will return all videos that have:</p>
        <ul class="browser-default">
            <li>At least 20 frames in common</li>
            <li>Those 20 frames must be within 15 units of distance</li>
        </ul>

        <p><code>http://example.com/image.jpg</code> will return all images that are within 10 units of distance</p>

        <p><b>Search by username</b></p>
        <p>You can also search by Reddit user with <code>user:&lt;username&gt;</code></p>

        <h5>Notes</h5>
        <p>Make sure to use the direct link to the image/video, use <code>https://i.imgur.com/xxxxxxx.jpg</code>
            rather than <code>https://imgur.com/xxxxxx</code>, and use <code>https://giant.gfycat.com/xxxx.mp4</code> rather
            than <code>https://gfycat.com/xxxx</code></p>
    </div>
</div>

</body>

<script src="../static/materialize.min.js"></script>
<script src="../static/index.js?v=11"></script>

</html>